.venv
.venv2
.env
.idea
.virtenv
py_data
py_data/*
py_data/files
py_data/images
py_data/balancos
MP_Data
Logs
Tensorflow*
venv
files
images
/py_data/*
*/py_data/
py_databases/
*/py_databases
.h5
.dat
*/file-pkl
*/.idea