<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bem Vindo</title>
</head>

<body>
  <p style="font:16px 'Arial',sans-serif; color:#2196f3; text-align:left;margin:0;padding:0;"><strong>Olá {{name}}, tudo
      bem?</strong>
    <span style="font:17px 'Arial',sans-serif; color:#7e7e7e; text-align:left;margin:0;padding:0;"><strong>Para ativar
        seu cadastro acesse este <a href='{{ api_url }}/login/verify?token={{ token }}'>link</a></strong></span>
</body>

</html>